= simple_form_for([:dashboard, @restaurant, @reservation], remote: true, 
  html: { multipart: true }, authenticity_token: true) do |f|
  .modal-header
    button.close aria-label="Close" data-dismiss="modal" type="button"
      span aria-hidden="true"  &times;

  .modal-body
    = render 'layouts/error_messages', object: @reservation
    = f.input :start_time, as: :string,
      input_html: { id: "datetimepicker", data: { behavior: "datepicker" }}, readonly: true
    = f.input :duration, as: :string,
      input_html: {class: "time-picker", value: @reservation.duration&.strftime("%H:%M") || "03:00"}
    = f.input :seats
    = f.input :contact_number
    = f.input :contact_name
    = f.input :requirements
    = f.collection_check_boxes :table_ids, @restaurant.tables.all, :id, :table_info,
      { selected: @reservation.table_ids, item_wrapper_tag: "p", include_blank: false }

  .modal-footer
    = f.button :submit, disable_with: "#{t "simple_form.please-wait"}"
    
= form_tag update_available_tables_dashboard_restaurant_reservations_path(@restaurant, id: @reservation.id),
           remote: true, method: 'get', id: 'updateTime' do
    = text_field_tag :start_time, params[:start_time], class: "hidden"
    = text_field_tag :duration_time, params[:duration_time], class: "hidden"


javascript:
  $('.time-picker').on('focus',function(){
    $(this).trigger('blur');
  });
  $(function () {
    $('.time-picker').timepicker({
    timeFormat: 'H:i',
    step: 15
    }).change('input', function(){
        updateAndSubmit();
    });
    $('#datetimepicker').datetimepicker({
      inline: false,
      sideBySide: true,
      minDate: -1,
      stepping:15,
      ignoreReadonly: true,
      format: 'YYYY-MM-DD HH:mm'
    }).on('dp.change', function(e){
        updateAndSubmit();
      });
  });
  function updateAndSubmit(){
    $("#start_time").val( $('#datetimepicker').val() );
    $("#duration_time").val( $('#reservation_duration').val() );
    $('#updateTime').submit();
  }
