= simple_form_for [@restaurant, @position] do |f|

  = f.input :email, prompt: "Employee email"
  = f.association :role, collection: @roles, prompt: "Choose a role", include_blank: false
  
  = f.button :submit, disable_with: 'Please wait ...'