= simple_form_for([@order], html: { multipart: true }, authenticity_token: true) do |f|
  = f.input :table_id, input_html: { value: '' }, label: false
  = f.button :submit, "Submit", disable_with: 'Please wait ...'