h3.text-center = t 'order.choose-table'
= simple_form_for([@order], authenticity_token: true) do |f|
  = f.input :address, class: 'form-control', label: false, hint: 'It is written on your table'
  = f.submit disable_with: 'Please wait ...', class: "btn btn-default center-block"