.container.container-white.col-md-6.col-md-offset-3
  = simple_form_for [@restaurant, @reservation] do |f|
    = f.input :from_time
    = f.button :submit, disable_with: "#{t "simple_form.please-wait"}"
