- @left_link = :back
- @left_class = "glyphicon glyphicon-triangle-left"
- @middle_link = @restaurant
- @middle_class = "glyphicon glyphicon-info-sign"
- @right_link = user_cart_path(current_user, current_user.cart)
- @right_class = "glyphicon glyphicon-shopping-cart"


.container
	