= I18n.with_locale(@user.locale) do 
  |#{t('confirming_reservation.line0')}
  |#{t('confirming_reservation.line1', user: current_user.name||current_user.email)}
  |#{t('confirming_reservation.line2', restaurant: @restaurant.name)}
  |#{t('confirming_reservation.line3')}

  |#{t('confirming_reservation.line4')}
  |#{t('confirming_reservation.line5')}: #{@reservation.contact_name}
  |#{t('confirming_reservation.line6')}: #{@reservation.start_time.to_formatted_s(:short)}
  |#{t('confirming_reservation.line7')}: #{@restaurant.address}
  |#{t('confirming_reservation.line8')}: #{@reservation.seats.to_s}