= I18n.with_locale(@user.locale) do 
  |Fullder
  |#{t 'mailer.confirming_reservation.line1'} #{@user.name||@user.email},
  |#{t 'mailer.confirming_reservation.line2-1'} #{@restaurant.name}, #{t 'mailer.confirming_reservation.line2-2'}. 
  |#{t 'mailer.confirming_reservation.line3'}

  |#{t 'mailer.confirming_reservation.line4'}:
  |#{t 'mailer.confirming_reservation.line5'}: #{@reservation.contact_name} #{@reservation.contact_number}
  |#{t 'mailer.confirming_reservation.line6'}: #{@reservation.start_time}
  |#{t 'mailer.confirming_reservation.line7'}: #{@restaurant.address}
  |#{t 'mailer.confirming_reservation.line8-1'}: #{@reservation.seats} #{t 'mailer.confirming_reservation.line8-2'}
