= I18n.with_locale(@user.locale) do 
  |#{t('mailer.confirming_reservation.line0')}
  |#{t('mailer.confirming_reservation.line1', user: @user.name||@user.email)}
  |#{t('mailer.confirming_reservation.line2', restaurant: @restaurant.name)}

  |#{t('mailer.confirming_reservation.line3')}
  |#{t('mailer.confirming_reservation.line4')}: #{@reservation.contact_name}
  |#{t('mailer.confirming_reservation.line5')}: #{@reservation.start_time.to_formatted_s(:short)}
  |#{t('mailer.confirming_reservation.line6')}: #{@restaurant.address}
  |#{t('mailer.confirming_reservation.line7')}: #{@reservation.seats.to_s}
  |#{t('mailer.confirming_reservation.line8')}