= I18n.with_locale(@user.locale) do 
  |OmniMenu
  |#{t 'mailer.line1'} #{@user.name||@user.email},
  |#{t 'mailer.line2-1'} #{@restaurant.name}, #{t 'mailer.line2-2'}
  |
  |#{t 'mailer.line3'}
  |#{t 'mailer.line4'}: #{@reservation.contact_name} #{@reservation.contact_number}
  |#{t 'mailer.line5'}: #{@reservation.from_time}
  |#{t 'mailer.line6'}: #{@restaurant.address}
  |#{t 'mailer.line7-1'}: #{@reservation.seats} #{t 'mailer.line7-2'}
  |
  |#{t 'mailer.line8'}
