OmniMenu
========================================
Hello, #{@user.name||@user.email},
Your reservation at #{@restaurant.name}, has been sent. 
You will be contaceted shortly!

Reservation information:
Who: #{@reservation.contact_number}
When: #{@reservation.from_time}
Where: #{@restaurant.address}
What: #{@reservation.seats} seats
Reserved by: #{@reservation.contact_name}
