- @left_link = @restaurant
- @left_class = "glyphicon glyphicon-triangle-left"
- @middle_link = @restaurant
- @middle_class = "glyphicon glyphicon-triangle-left"
- @right_link = @restaurant
- @right_class = "glyphicon glyphicon-triangle-left"


center
	h3	Edit restaurant
= render 'form'