.container-fluid.col-md-6.col-md-offset-1.home-page.container-white.space-up
  #restaurant-avatar
    = image_tag @restaurant.restaurant_avatar.url(:large)
  #restaurant-buttons
    a.menu-button.col-xs-6.text-center = t 'restaurant.menu'
    a.reservations-button.col-xs-6.text-center = t 'restaurant.reserve' 

= render 'restaurant_delivery'

= render 'inplace_order'

= render 'restaurant_info'

= render 'restaurant_images'

= render 'restaurant_map'

= render 'restaurant_menu'

= render partial: 'layouts/cart/cart'

javascript:
  $(".menu-button").on('click tap', function() {
    $(".home-page-3").addClass("hidden");
    $(".home-page-2").addClass("hidden-xs hidden-sm");
    $(".restaurant-menu").removeClass("hidden");
  });


  setTimeout(function() {
    handler = Gmaps.build('Google');
    handler.buildMap({ 
      provider: {
        disableDefaultUI: true,
        rotateControl: true,
        streetViewControl: true,
        streetViewControlOptions: true
      }, 
      internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(#{raw @hash.to_json});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(17);
      }
    );
    var clip = new Clipboard('.wifipass');
    $('.wifipass').click(function(event){
      $(".wifipass").effect( "highlight", {color:"#669966"}, 2000 );
    });
  }, 800);


