<% if @delivers %>
  $('.accepts-deliveries').html("<br><%= t 'restaurant.accept-delivery'%> <hr>");
<% else %>
  $('.deliveries').html("<h2 style='text-align:center'><%= t 'restaurant.sorry-too-far'%></h2>");
<% end %>