<% if current_order.errors.any? || @order_item.errors.any? %>
  $('.flash-container').html("<%= j render 'layouts/flash_messages' %>");
<% else %>
  $(".buy-button").html("<%= j render 'layouts/cart/buy_button' %>");
  $(".mobile-cart").html("<a href='/cart'><div class='glyphicon glyphicon-shopping-cart'></div><%=number_to_currency(current_order.subtotal)%></a>");
  $('#order-items').prepend("<%= j render @order_item %>");
<% end %>


