= render 'layouts/dashboard/dashboard_navbar'

.container.container-white.order-items
  = render layout: "table_#{session[:order_status]}" do
    = render partial: "element_row_#{session[:order_status]}", object: @items
