/*
 *
 *= require bootstrap-select
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "footer";
@import "select2";
@import "select2-bootstrap";

html,body {
    height:100%;
    background-color: rgb(240,240,240);
}

.navbar-inverse{
	border-color:rgba(0,0,0,0);
}

.navbar-inverse .navbar-toggle {
  border-color: rgba(0,0,0,0);
}

input{
	font-size:16px !important;  
	/* When the font-size is 16px phones do not zoom when filling in an input */	
}

#header_navbar{
	background-color: #CF000F;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(250,250,250,0.9);
}

a, a:active, a:focus {
  outline: none;  /* Removing the dotted border around links when clicked */
  text-decoration: none;
}

a:hover{
  background-color: transparent; 
  text-decoration: none;
}

#header_navbar{
  margin-bottom: 10px;
}

.container-white{
  border-radius:5px;
  background-color: white;
  padding-bottom:20px;
}



