/*
 *
 *= require bootstrap-select
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "footer";
@import "select2";
@import "select2-bootstrap";
@import "slick";
@import "slick-theme";
@import "jquery-ui";
@import "jquery.timepicker";
@import "font-awesome";
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

/* General global settings */
@font-face {
  font-family: "Am";
  src: font-url('AlegreyaSans-Bold.ttf');
}

@font-face {
  font-family: "Fullder";
  /* Change it when you find a better one */
  src: font-url('AlegreyaSans-Bold.ttf');
}

html,body {
  padding-top: 0;
  min-height: 600px;
  margin-bottom: 100px;
  margin-top: 28px;
  background-color: rgb(248,248,248);
  clear: both;
  font-family: "Am", sans-serif;
}

input{
  font-size:16px !important;  
  /* When the font-size is 16px phones do not zoom when filling in an input */  
}

label{
  font-size: 19px;
}

a, a:active, a:focus {
  outline: none;  /* Removing the dotted border around links when clicked */
  text-decoration: none;
}

a:hover{ 
  text-decoration: none;
}

.container-white{
  border-radius:5px;
  background-color: white;
  padding-bottom:15px;
  box-shadow: 0px 0px 1px 0px #888888;
}

.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#flash_messages{
  text-align: center;
  padding: 10px;
  position: fixed;
  top:40px;
  z-index:1000;
}

.space{
  margin-bottom: 20px;
}

.container-min-height{
  min-height: 600px;
}

/* Global settings specifically for large devices */
@media (min-width: 768px) {
  /* Input not visible on large devices when <20px */
  input, select{
    font-size: 20px !important;
  }
  /* Bigger font size of flash messages */
  #flash_messages{
    font-size: 25px;
  }
  label{
    font-size: 22px;
  }
  h2{
    font-size: 35px;
  }
}

/* Navigation bar */
#mainNav .container{
  width: 95%;
}
.navbar-custom {
  background-color: rgb(230, 0, 0);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  .navbar-right{
    a{
      font-family: "Am", sans-serif !important;
      font-weight: bold;
      font-size: 18px;
    }
  }
  a:focus {
    outline: none;
  }
  .navbar-brand {
    color: white;
    font-family: "Fullder", sans-serif;
  }
  .navbar-brand:hover,
  .navbar-brand:focus,
  .navbar-brand:active,
  .navbar-brand.active {
    color: white;
  }
  .navbar-nav {
    letter-spacing: 1px;
  }
  .navbar-nav li a {
    color: white;
  }
  .navbar-nav li a:hover {
    font-weight: 800;
    color:  white;
    outline: none;
  }
  .navbar-nav li a:focus,
  .navbar-nav li a:active {
    color: white;
  }
  .navbar-nav li.active a {
    color: white;
    background: rgb(150, 0, 0);
  }
  .navbar-nav li.active a:hover,
  .navbar-nav li.active a:focus,
  .navbar-nav li.active a:active {
    color: white;
    background: rgb(150, 0, 0);
  }
  .navbar-toggle {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
  }
  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: rgb(190, 0, 0);
    color: white;
    border-color: white;
  }
}

@media (min-width: 768px) {
  .navbar-custom {
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
