/*
 *
 *= require bootstrap-select
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "footer";
@import "select2";
@import "select2-bootstrap";

html,body {
    height:100%;
    padding-top:25px;
    background-color: rgb(240,240,240);
}

.header {
  height: 40px;
  background-color: #CF000F;
  border-color: #CF000F;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  a{
    color: white !important;
  }
  li{
    margin-left:20px;
  } 
  .navbar-brand{
    padding-left:5px;
    height: 40px;
    font-size: 20px;
    padding-top:10px;
  }
  span{
    background-color: white;
  } 
  button{
    margin-top:12px;
    padding: 0 0;
  }
  .navbar-header{
    height:40px;
  }
  .in{
    background-color: #CF000F;
  }
  .navbar-right{
    height: 40px;
    margin-right:20px;
    li{
      height: 40px;
      a{
        height: 40px;
        padding-top:10px;
      }
    }
  }
}
.collapse {  transition: height 0.01s !important;}

input{
	font-size:16px !important;  
	/* When the font-size is 16px phones do not zoom when filling in an input */	
}


.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  /* background-color: #CF000F; */
}

a, a:active, a:focus {
  outline: none;  /* Removing the dotted border around links when clicked */
  text-decoration: none;
}

a:hover{ 
  text-decoration: none;
}

.container-white{
  border-radius:5px;
  background-color: white;
  padding-bottom:20px;
}

.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}


