/* Variables */
$header-red: rgb(230, 0, 0);

.carts.show, .compact-cart{
  #order-items{
    padding: 0px;
  }
  .cart-row{
    padding: 0px;
    background-color: white;
    height: 110px;
    margin-top: 10px;
    .item-name{
      font-size: 1.4em;
      padding: 0px 0px 0px 20px;
      i{
        font-size: 0.6em;
      }
    }
    #order_item_quantity{
      min-width: 80px;
      text-align: left;
    }
    .order_item_demands{
      position: absolute;
      bottom: -15px;
      padding: 0px;
      input{
        border-radius: 0px;
      }
    }
  }

  .remove-item{
    margin-top: 9px;
    background-color: rgb(216,0,0);
    line-height: 110px !important;
    height: 110px;
    color: white;
    font-size: 1.5em;
    text-align: center;
  }

  .buy-button{
    padding: 0px;
  }
  .pay-button{
    background-color: rgb(216,0,0);
    color: white;
    border-radius: 0px !important;
    margin-top: 20px;
  }
}



.compact-cart{
  position: fixed !important;
  padding: 0px !important;
  margin-top: 15px;
  min-width: 300px;
  min-height: 600px !important;
  right: 5%;
  th{
    font-size: 25px;
    text-align: center;
  }
  td{
    font-size: 20px;
    text-align: center;
  }
  table{
    margin-bottom: 40px;
  }
  .pay-button{
    font-size: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: white;
  }
  .buy-button{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
}


.mobile-cart{
  z-index: 1000;
  position: fixed;
  bottom: 60px;
  right: 10px;

  a{
    color: white;
    padding: 20px;
    font-size: 18px;
    background-color: rgba(230, 0, 0, 0.5);
  }
}