.cart-row{
  background-color: white;
  min-height: 120px;
  margin-top:10px;
  position: relative;
  .item_avatar{
    padding:10px;
  }
  .item_name{
    position: absolute;
    top: 10px;
    left: 110px;
  }
  .item_description{
    position: absolute;
    top:30px;
    left: 110px;
    font-style: italic;
  }
  .item_price{
    position: absolute;
    top: 10px;
    right:20px;
  }
  .order_item_demands{
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    width:100%;
    input{
      border: 1px solid rgb(250,250,250);
    }
  }
  .quantity-update{
    position:absolute;
    right:20px;
    top:40px;
  }
  .delete_button{
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 20px;
  }
  .submit_button{
    display: none;
  }
}

.shopping-cart{
  padding-left: 0px !important;
  padding-right: 0px !important;

  .cart-subtotal{
    font-size: 15px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding: 5px;
    background-color: white;
    margin-top:10px;
  }

  .clear-cart{
    width:100%;
  }

  .checkout-order{
    width:100%;
  }
}




