.cart-row{
  background-color: white;
  margin-top:40px;
  position: relative;
  .item_avatar{
    padding:10px;
  }
  .item_description{
    position: absolute;
    top: 10px;
    left: 110px;
  }
  .item_price{
    position: absolute;
    top: 10px;
    right:20px;
  }  
}

.cart-row:first-of-type{
  margin-top:10px;
}

#order_item_quantity{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 10px !important;
}

.quantity-select{
  margin-bottom: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;  
}

.delete-item{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 0px !important;
}

.shopping-cart{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.cart-subtotal{
  font-size: 15px;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding: 5px;
  background-color: white;
  margin-top:10px;
}




