.unordered-list-properties{
	list-style:none;
	padding:0px;
}

.unordered-list-properties li{
	height:84px;
	margin-bottom:10px;
	display: block;
}

.vcenter {
	position:absolute;
  padding-left:10px;
  color: black;
  h5{
    font-weight: bold;
  }
  .short_description{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  .prices{
    position: absolute;
    top:10px;
    right: 0px;
  }
}