a.category-row{
  position: relative;
  height: 142px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  .category_name{
    position:absolute;
    color: black;
    font-size:24px;
  }
  .category_avatar{
    position: absolute;
    right: -1px;
    top: 0px;
  }
}


.show, .edit, .destroy{
  float: left;
  margin-right: 20px;
}


@media (max-width:990px) {
  a.category-row{
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 0px;
  }
}