.login-actions{
  padding: 0px !important;
  .checkbox{
    position: absolute;
    top: 2px;
    left: 0px;
  }
  .user_remember_me{
    width: 140px;
    font-size: 16px !important;
  }
  .forgot-password{
    padding: 0px;
    height: 40px;
    width: 120px;
    a{
      position: absolute;
      top: 15px;
      right: 0px;
      font-size: 15px; 
    }
  }
}

.login-or{
  position:  absolute;
  text-align: center;
  top: -40px;
  font-size: 30px;
  background-color: white;
  color: rgb(200,200,200);
}

.fa-lock, .fa-user{
  width: 15px;
}

.login-options{
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(230,230,230);
  a{
    font-size: 25px;
    font-weight: bold;
  }
}

.omb_btn-facebook {background: #3b5998; color: white;}
.omb_btn-twitter {background: #00aced; color: white;}
.omb_btn-google {background: #c32f10; color: white;}

.login-footer{
  background-color: rgb(220,220,220);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 60px;
  a{
    margin-top: 10px;
    padding-top: 20px;
    line-height: 60px;
  }
}

.login-container{
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  input{
    font-size: 20px !important;
    height: 40px;
  }
  input.boolean{
    height: 20px;
  }
}

.new_user{
  h5{
    margin: 0px;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 45px;
    color:  grey;
  }
}

/* Specail setting for large screens */
@media (min-width: 768px) {
  .login-container{

    h3{
      font-size: 40px;
    }
    input{
      font-size: 24px !important;
      height: 50px;
    }
    .user_remember_me{
      width: 180px;
    }

  }
}