.round-picture-right{
	position: absolute;
	border:1px solid rgb(220,220,220);
	right:10px;
}

.link-style:hover {
	text-decoration: none;
	color:black;
	background-color: transparent;
}

.unordered-list-properties li a{
	color:black;
}

.round-picture-middle{
	border:1px solid rgb(220,220,220);
}