.meal{
  a:hover{
    background-color: transparent !important;
  }
}


.round-picture-right{
	position: relative;
	border:1px solid rgb(220,220,220);
  margin-left: calc(100% - 80px);
}

.link-style{
width: calc(100% - 120px);
}

.link-style:hover {
	text-decoration: none;
	color:black;
	background-color: transparent;
}

.unordered-list-properties li a{
	color:black;
}

.round-picture-middle{
	border:1px solid rgb(220,220,220);
}

.meal_size{
  text-align: center;
  align-items: stretch;
  .short_description{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  .prices{
    color: grey;
  }
}

.meal_size_active{
  background-color: #CF000F;
  color: white;
  border-radius: 5px;
  .prices{
    color: white;
  }
}

.bold{
  font-weight: bold;
  padding: 0px;
}

.meal_sizes{
  margin-top: 30px;
  min-height: 100px !important;
  display: flex;
}

.meal_supplementals{
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  .prices{
    float: left;
    display: inline-block;
  }
  .bold{
    float: left;
    display: inline-block;
  }
  .meal_supplemental{
    margin-top:10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .prices{
    color: grey;
  }
}

.meal_supplemental_active{
  background-color: #CF000F;  
  border-radius: 5px;
  color: white;
  .prices{
    color: white;
  }
}

.hidden{
  display: none;
}
