.order-item-row{
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
}

.order-items{
  .confirm-order{
    color: #FF4136  !important;
  }

  .btn-success, .btn-default{
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border-radius: 0px;
    font-weight: bold;
  }
  .time-ago{
    border-right:1px solid rgb(230,230,230);
  }
  .username{
    border-bottom: 1px solid rgb(230,230,230);
  }
}