a.product_row{
  position: relative;
  margin-top:5px;
  background-color: white;
  height:80px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 1;
  .product_name{
    position:absolute;
    top: 10px;
    left: 10px;
    color: black;
    font-weight: bold;
    font-size:15px;
  }
  .product_short_description{
    position:absolute;
    top: 30px;
    left:10px;
    font-style: italic;
    font-size: 12px;
    padding-right: 95px;
    color: black !important;
  }
  .product_avatar{
    position: absolute;
    top:-1px;
    right: 0px;
    border-radius: 50%;
    margin-left: calc(100% - 67px);
  }
  .product_price{
    position: absolute;
    top: 10px;
    right: 90px;
    color: grey;
  }
  .common_allergens{
    position: absolute;
    bottom: 5px;
    right: 90px;
    color: red;
  }
}


.dashed-border{
  border-bottom: 1px solid rgb(225,225,225);
  border-bottom-style: dashed;
}

.new-order-item{
  clear: left;
  .form-container{
    background-color: white;
    margin-top: 10px;
    .max-options{
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 5px;
      padding: 5px;
      font-size: 12px;
    }
  }

  .group-name{
    margin-top: 20px;
    margin-top: 1px solid grey;
  }

  input[type=radio], input[type=checkbox] {
    display:none;
  }

  .product_size, .product_option{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .collection_radio_buttons, .collection_check_boxes, 
  .product_size > label, .product_option > label{
    width:100%;
    font-weight: normal;
  }

  input[type=radio] + label, input[type=checkbox] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  }

  input[type=radio]:checked + label, input[type=checkbox]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color:#CF000F;
    color: white;
  }

  .padding-top-small{
    padding-top:10px;
  }

  .buy-button{
    background-color: #CF000F;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    color: white;
  }

  .buy-button:active{
    background-color: #c4000e;
  }

  input[type="submit"]:hover{
    color: white;
    font-weight: bold;
  }

  input[type="submit"]:visited{
    color: white;
  }

  @media (max-width: 1082px) {
    .buy-form{
      margin-top:90px;
    }
  }

  span.radio{
    color: black;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .order_item_product_size_id{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .size_description{
    margin-bottom: 12px;
    display: inline;
    padding-left: 0px !important;
    text-align:  center;
  }

  .product_size_price{
    margin-bottom: 12px;
    display: inline;
  }

  .size_info{
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 0px !important;
    padding-right: 5px !important;
  }

}

.panel{
  position: relative;
}

.product_row_dashboard{
  height:80px;
  margin-top:5px;
  background-color: white;
  border-radius: 5px;
  .product_name_dashboard{
    position:absolute;
    padding-top: 10px;
    padding-left: 10px;
    color: black;
    font-weight: bold;
    font-size:15px;
    z-index: 1;
  }
  .product_short_description_dashboard{
    position:absolute;
    padding-top: 30px;
    padding-left:10px;
    font-style: italic;
    font-size: 12px;
    padding-right: 95px;
    color: black !important;
  }
  .product_avatar_dashboard{
    position: relative;
    top:-8px;
    border:1px solid rgb(220,220,220);
    border-radius: 50%;
    margin-left: calc(100% - 75px);
  }
}


.new-product, .product-search{
  margin-top: 20px;
}

.description-panel, .ingredient-panel{
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 10px;
  margin-bottom: 0px !important;
}

