@font-face {
  font-family: "Am";
  src: font-url('AlegreyaSans-Bold.ttf');
}

._restaurant_buttons {
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center; 
  height: 150px;
  line-height: 160px;
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.home-page {
  padding-bottom: 0px !important;

  /* Restaurant header */
  #restaurant-avatar {
    position: relative;
    height: 200px;
    overflow: hidden;
    img{
      width: 100%;
    }
    .restaurant-name{
      position: absolute;
      bottom: 56px;
      right: 20px;
      font-size: 20px;
      color: white;
      text-shadow: 0px 0px 0px #000, 1px 1px #000, 1px 1px #000;
    }
    .restaurant-address{
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-family: italic;
      color: white;
      font-weight:  bold;
      text-shadow: 0px 0px 0px #000, 1px 1px #000, 1px 1px #000;
    }
  }

  /* Menu button  */
  .menu-button{
    background-image: image-url('menu.png');
    @extend ._restaurant_buttons;
  }

  /* Reservations button */
  .reservations-button{
    background-image: image-url('calendar.png');
    @extend ._restaurant_buttons;
    background-size: 140px;
  }
  .menu-button:hover, .reservations-button:hover{
    background-color: rgb(220,220,220);
  }
}

.home-page-2, .home-page-3{
  margin-top: 10px;
  position: relative;
  #google-map{
    margin-top: 10px;
  }
}

#favorites {
  text-align: center;

  .favorite, .favorite:hover{
    color: #CF000F;
  }

  .notfavorite, .notfavorite:hover{
    color: grey;
  }
  .favorites-text{
    font-size: 20px;
    line-height: 40px;
  }
}

#working-times{
  .schedule-time{
    font-size: 20px;
    text-align: left;
  }
  .schedule-day{
    font-size: 16px;
    text-align: left;
  }
  .shchedule{
    margin-top: 20px;
  }
}
.wifipanel, .favourites-panel{
  margin-top: 20px;
}

.wifipass{
  font-size: 20px;
  line-height: 40px;
}

#wifipassword, #working-times, .favorite-heart{
  text-align: center;
  font-size: 80px;
  line-height: 18px;
  margin-top: 20px;
}


/* Search form */

.search-form{
  margin-top: 35px;
  padding: 3px;
  border: solid 1px #E4E4E4;
  background-color: #fff;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 0px 0px 1px 0px #888888;
}

.search-form input{
  border: 0px;
  box-shadow: none !important;
}

.search-form button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 15px 0 15px;
  border-left: solid 1px #ccc;
}

.search-form button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

.search-form .glyphicon-search{
	padding-top: 10px;
	padding-bottom: 10px;
}

/* RESTAURANT ROW */

.restaurants{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Restaurant button */
.restaurant-row{
  position: relative;
  margin-top:5px;
  padding:0px !important;
  background-color: white;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  .restaurant-avatar img{
    width: 100%;
  }
  .restaurant-services{
    position: absolute;
    bottom: 60px;
    right: 2px;
    font-size: 12px;
  }
  .restaurant-name{
    text-align: center;
    color: black;
    font-size:25px;
    z-index: 1;
  }
  .restaurant-address{
    text-align: center;
    font-style: italic;
    font-size: 15px;
    color: black !important;
  }
  .restaurant-number{
    text-align: left;
    font-style: italic;
    font-size: 12px;
    color: black !important;
  }
  .restaurant-status{
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
  }
  .restaurant-favorites{
    position: absolute;
    bottom: 60px;
    left: 10px;
    color: grey;
    font-size: 12px;
  }
}

.restaurant-index-button{
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-bottom: 15px;
}


/* Menu button */
.restaurant-row-menu{
  font-size: 20px;
  padding: 10px;
  background-color: white;
  color: grey;
  border-right: 1px solid rgb(230,230,230);
}


/* Call button */
.restaurant-row-call{
  font-size: 20px;
  padding: 10px;
  background-color: white;
  color: grey;
}

/* Styling specifically for large devices */
@media (min-width: 768px) {
  /* Restaurant row */
  .restaurant-row{
    margin-top: 20px;
    box-shadow: 0px 0px 1px 0px #888888;
    .restaurant-services{
      font-size: 18px;
    }
    .restaurant-number{
      font-size: 20px;
    }
    .restaurant-favorites{
      font-size: 18px;
    }

  }


  .restaurant-row-menu{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 1px 0px #888888;
  }
  /* Restaurant show page */

  .home-page{
    margin-top: 10px;
    .menu-button{
      font-size: 25px;
      background-size: 320px;
      height: 200px;
      line-height: 215px;
    }
    .reservations-button{
      font-size: 25px;
      background-size: 220px;
      height: 200px;
      line-height: 215px;
    }

    /* Restaurant header */

    #restaurant-avatar{
      position: relative;
      img{
        width: 100%;
      }
      .restaurant-name{
        font-size: 25px;
      }
      .restaurant-address{
        font-size: 18px;
      }
    }
  }

  #favorites{
    h3{
      font-size: 40px;
    }
    .glyphicon-heart{
      font-size: 77px;
    }
  }

  #working-times{
    .schedule-day{
      font-size: 18px;
    }
    .schedule-time{
      font-size: 22px;
    }
  }

  .search-form input{
    font-size: 26px !important;
    height: 50px;
  }

  .search-form{
    margin-top: 80px;  
    padding: 3px;
    border: solid 1px #E4E4E4;
    background-color: #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .search-form button{
    font-size: 25px;
    color: rgb(230, 0, 0);
  }

}

/* Restaurant dashboard settings */

#accordion{
  .panel-title{
    font-size: 20px;
  }
  label{
    font-size: 18px;
  }
}

.aboutus-page{
  margin-top: 15%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(10,10, 10, 0.6);
  .aboutus-text{
    text-shadow: 0px 0px 0px #000, 1px 1px #000, 0px 0px #000;
    color: white;
    font-size: 22px;
  }

  .services-text{
    text-shadow: 0px 0px 0px #000, 1px 1px #000, 1px 1px #000;
    font-size: 22px;
    color: white;
  }
  .glyphicon{
    font-size: 150px;
    color: rgb(230,0,0);
    line-height: 220px;
  }
}

.contact-page{
  margin-top: 10px;
  background-color: rgba(10,10, 10, 0.6);
  color: white;
  p{
    font-family: "Am", sans-serif;
    color: black;
    margin-top: 35px;
    font-size: 20px;
  }
  background-color: white;
  .glyphicon{
    font-size: 80px;
    color: rgb(230,0,0);
  }
}