/* ---INDEX PAGE--- */

.restaurants.index{

  /* Restaurant search */
  #restaurant-finder{
    background: image-url('wallpaper2.jpg') center/cover no-repeat;
    padding: 0px;
    height: calc(100vh - 40px);
    ;
    #restaurant-search{
      margin-top: 7vh;
    }

    .table-code{
      margin-top: 8vh;
      height: 70vh;
      background: rgba(0,0,0,0.5);
      box-shadow: 0 20px 30px rgba(black, .3);
      padding: 3vh 3vw 0vh 3vw;
      color: white;
      a{
        color: white;
        text-decoration: underline;
      }
      .greeting{
        margin-bottom: 6vh;
      }
      #new_order{
        z-index: 1;
      }
    }

    .share-location{
      font-size: 0.8em;
      background-color: transparent;
      border: 0px;
      color: white;
      text-decoration: underline;
    }

    .order_address{
      input::-webkit-input-placeholder {
        text-align: center;
        color: white;
      }
      input:-moz-placeholder {
        text-align: center;
        color: white;
      }
      input::-moz-placeholder {
        text-align: center;
        color: white;
      }
      input{
        border-radius: 0px;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        text-align: center;
        background-color: rgba(0,0,0,0.2);
      }
      input:focus{
        outline: 0 none;
        box-shadow: none;
      }
      .help-block{
        color: white;
        font-weight: bold;
      }
    }

    form{
      z-index: 100;
    }

    .btn-default{
      width: 100%;
      border-radius: 0px;
      background-color: rgba(255,255,255,0.8);
      border: 2px solid rgba(0, 0, 0, 0.2);
    }
    .btn-default:hover{
      opacity: 1;
      -webkit-animation:  none;
    }
    .btn-default.disabled{
      background-color: rgba(255,255,255,0.5);
      color: grey;
    }
  }

  /* Restaurant index buttons */
  .restaurant-row{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 15px;
      .restaurant-row-menu{
        font-size: 20px;
        padding: 10px;
        background-color: white;
        color: grey;
        border-right: 1px solid rgb(230,230,230);
      }
      .restaurant-row-call{
        font-size: 20px;
        padding: 10px;
        background-color: white;
        color: grey;
      }
  }

  .restaurant-index-button{
    position: relative;
    margin-top:5px;
    padding:0px !important;
    background-color: white;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    .restaurant-avatar img{
      width: 100%;
    }
    .restaurant-name{
      margin-left: 10px;
      text-align: left;
      color: black;
      font-size:25px;
      z-index: 1;
    }
    .restaurant-address{
      margin-left: 10px;
      text-align: left;
      font-style: italic;
      font-size: 15px;
      color: black !important;
    }
    .restaurant-distance{
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      font-size: 18px;
      z-index: 10;
      background-color: rgba(0,0,0,0.3);
      padding: 5px;
    }
  }

}
/* ----------------------------------------------------- */


/* ---SHOW PAGE--- */
.restaurants.show{
  .home-page {
    padding-bottom: 0px;

    #restaurant-avatar {
      position: relative;
      height: 100%;
      width: 100%;
      max-height: 350px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }
  .info{
    #menu, #working-times, #wifipassword{
      text-align: center;
      i{
        padding-top: 20px;
        padding-bottom: 20px;
      }
      a{
        color: rgb(230,0,0);
      }
    }
  }
}
/* ----------------------------------------------------- */


@media (min-width: 768px) {
  .restaurants.index{
    /* Restaurant search */
    .location{
      .share-location{
        font-size: 3em;
      }
    }
    .tags{
      input{
        font-size: 2em !important;
        height: 60px;
      }
    }

    /* Restaurant index buttons */
    .restaurant-row{
      padding-left: 8px !important;
      padding-right: 8px !important;
      .restaurant-row-menu{
        border-right: 0px;
        width: 100%;
        padding: 10px;
      }
    }

    .restaurant-index-button{
      border-bottom: 1px solid rgb(240,240,240) !important;
      margin-top: 20px;
    }

  }
  /* ----------------------------------------------------- */


  /* ---SHOW PAGE--- */
  .restaurants.show{
    .home-page {
      margin-top: 10px;

      #restaurant-avatar {
        height: 400px;
        position: relative;
        img{
          width: 100%;
        }
      }
    }
    .info{
      #menu, #working-times, #wifipassword{
        padding-bottom: 30px;
        i{
          font-size: 80px;
        }
        a{
          font-size: 20px;
        }
      }
    }
  }
/* ----------------------------------------------------- */
}




/* Restaurant dashboard settings */

#accordion{
  .panel-title{
    font-size: 20px;
  }
  label{
    font-size: 18px;
  }
}

/* DASHBOARD */


.restaurants.show{
  .orders-info{
    li{
      list-style: none;
      text-align: center;
      padding: 20px;
    }
  }
}






























.table-code {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  z-index: -10 !important;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: black;
  width: 100vh;
  height: 100vh;
  margin-left: -50vh;
  margin-top: -45vh;
  border-radius: 43%;
  animation: drift 12000ms infinite linear;
}

.wave.-three {
  animation: drift 8000ms infinite linear;
  background: grey;
}

.wave.-two {
  animation: drift 15000ms infinite linear;
  opacity: .1;
  background: white;
}

.greeting {
  z-index: 1;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}