.container
  / = render partial: "products/product_row", collection: @products, as: :product
  - @products.each do |product| 
    = render "products/product_row", product: product, order_item: @order_item
